<footer class="footer">
    <br>
    <p class = "footer-text"><span id="className">CST336 Internet Programming.</span> 2026&copy; Maximilian Marshall <br>
    <strong>Disclaimer:</strong> The information in this webpage is for an academic purpose. <br></p>
</footer>